@import "../../_variables.scss";
//bulma imports
@import "~bulma/sass/utilities/mixins";

.app {
    &__project-summary {
        margin: 96px auto 48px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include from($tablet) {
            flex-direction: row;
        }
    }
    &__project-nav,
    &__project-web-link {
        text-decoration: none;
        color: $app-white;
        transition: color 0.3s;
    }
    &__project-nav {
        &:hover {
            color: $app-dark-blue;
        }
    }
    &__project-web-link {
        display: inline-block;
        height: 16px;
        padding-bottom: 4px;
        text-align: center;
        width: auto;
        margin-top: 16px;
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', 'sans-serif';
        font-size: 1em;
        border-bottom: 2px solid $app-white;
        &:hover {
            color: $app-light-blue;
        }
        @include from ($tablet) {
            display: block;
        }
    }
    &__project-image-container {
        max-width: 640px;
    }
    &__project-text-container {
        text-align: center;
        padding: 0 32px;
        margin: 24px 16px 0 16px;
        background-color: $app-black;
        height: 474px;
        border: 8px ridge $app-section-border-color;
        @include from($tablet) {
            margin-top: 64px;
            margin-left: 16px;
            text-align: left;
        }
    }
    &__project-title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', 'sans-serif';
        color: $app-white;
        margin-left: 4px;
        @include from($tablet) {
            text-align: left;
        }
    }
    &__project-image {
        width: 320px;
        display: block;
        border: 4px solid $app-black;
        border-radius: 8px;
        margin: 0 auto;
        @include from($desktop) {
            height: 480px;
            width: 640px;
        }
    }
}
