@import "../../_variables.scss";
//bulma imports
@import "~bulma/sass/utilities/mixins";

.app {
    &__project-block {
        margin: 0 auto;
        display: block;
        &:hover {
            opacity: 0.7;
        }
    }
    &__project-link {
        text-decoration: none;
        width: 128px;
        height: 128px;
        display: block;
        margin: 0 auto;
    }
    &__project-name {
        margin: 16px 0;
        color: $app-white;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Press Start 2P', 'sans-serif';
    }
}
