$app-black: #000;
$app-white: #fff;
$app-dark-blue: #16115a;
$app-light-blue: #1c72ec;
$app-light-gray: #afb3c3;
$app-light-red: #ec6860;
$app-section-color: rgba(0, 0, 0, 0.8);
$app-section-border-color: #96a3c7;
$app-prompt-alt: #75bff1;