@import "./_variables.scss";
//bulma imports
@import "~bulma/sass/utilities/mixins";
//@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/derived-variables";
//@import "~bulma/sass/utilities/mixins";
//@import "~bulma/sass/grid/_all";
//global styles

body,
html,
#root {
	height: 100%;
}

#root {
	background-image: url('./images/background-bottom.png');
	background-position: center bottom;
	background-repeat-y: no-repeat;
}

body,
html {
	background-color: $app-background-color;
}

body {
	background-image: url('./images/background-top.png');
	background-position-y: 188px;
	background-repeat-y: no-repeat;

	@include from ($tablet) {
		background-position-y: 258px;
	}
}

//google fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Ubuntu+Mono');