@import "../../_variables.scss";
//bulma imports
@import "~bulma/sass/utilities/mixins";

.app {
	&__info-section {
		margin: 72px 8px 16px 8px;
		padding: 1em;
		border: 8px solid $app-section-border-color;
		background-color: $app-section-color;

		@include from($tablet) {
			margin: 96px 8px 32px 8px;
		}
		@include from($desktop) {
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__info-text {
		font-size: 1.25em;
		color: $app-white;
		padding: 0 8px;
		font-family: "Ubuntu Mono", "sans-serif";

		&--em,
		&--subtitle {
			color: $app-light-red;
		}
		&--subtitle {
			border-left: 2px solid $app-section-border-color;
			border-bottom: 2px inset $app-section-border-color;
			display: inline-block;
			margin: 16px 8px 0 8px;
			padding-bottom: 8px;
			@include from($tablet) {
				margin-top: 24px;
			}
		}

		@include from($tablet) {
			font-size: 1.5em;
		}
	}

	&__info-icon {
		text-decoration: none;
		color: $app-white;
		transition: color 0.2s;
		&:hover {
			color: $app-light-blue;
		}
	}
}
